defmodule Telegex do
  @moduledoc "All methods in the Bot API."

  use Telegex.MethodDefiner

  <%= for api <- @apis do %>
    defmethod(<%= inspect(api.name) %>, <%= inspect(api.description) %>, <%= api.parameters %>, <%= api.result_type %>)
  <% end %>
end
